
body {
	font-family: 'karla';
	font-size: 16px;
	line-height: 1.7
}


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.navbar span {
	position: relative;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
	display: block;
	color: #001D5D;
	text-align: center;
	padding: 1% 3%;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
.navbar a {
	position: relative;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  display: block;
  color: #001D5D;
  text-align: center;
  padding: 1% 3.5%;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#signup{
	color: #68C242;
	background-color: #D9F0D0;
	text-align: center;
	padding: 16px 25px;
	font-size: 17px;
	font-weight: normal;
	text-decoration: none;
}
#signup:hover {
	color: #D9F0D0;
	background-color: #68C242;
	text-decoration: none;
}


@keyframes breath {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}

div.container1{
	position: relative;
	padding: 16px;
	margin-top: 50px;
	text-align: left;
	color: white;
  width: 98%;
  height: 60%;
  animation: breath 10s linear infinite;
  background: url("Images/image1.png") center top no-repeat;
}

div.container1 p{
	padding: 50px;
	top: 50%;
	font-weight: bold;
	position: absolute;
	line-height: 40px;
	transform: translate(0, -50%);
	margin-right: 50%;
}

div.container1 a {
	font-size:22px; 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
	vertical-align: middle;
}

div.container1 img {
	vertical-align: middle;
	padding: 15px
}

div.container2 {
	position: relative;

	background-color: white;
	width: 98%;
	height: 60%;
}

div.container2 img{
	float: left;
	vertical-align: text-top;
	margin-right: 4%;
}

div.container2 p{
	padding: 2%;
	margin-right: 10%;

}

div.container3 {
	position: relative;
	width: 100%;
	height: 80%;
	background-color: #F6F6F6
}

div.container3 p{
	line-height: 20px;
	margin-left: 30%;
	margin-right: 30%
}

div.slideleft {
	float: left;
	background-color: #F6F6F6;
	width: 50%;
	height: 100%;
}

div.slideleft img {
	float: left;
	vertical-align: center;
	margin-left: 3%;
	margin-top: 35%;
	width: auto;
	height: auto;
}

div.slideright {
	float: right;
}

div.container4 {
	position: relative;
	padding: 20px;
	width: 98%;
	height: 90%;
}
div.container4 img{
	float: right;
	width: auto;
	padding: 0;
	height: 100%
}

div.container4 form{
	width: auto;
	height: 100%
}

div.container4 input{
	background-color: #F6F6F6;
	font-weight: bold;
	color: black;
	border: none;
	float: left;
	width: 20%;
	height: 7%;
	margin-left: 5%;
	margin-top: 3%;
}

div.container4 select {
	background-color: #F6F6F6;
	font-weight: bold;
	color: black;
	border: none;
	float: left;
	width: 20%;
	height: 7%;
	margin-left: 5%;
	margin-top: 3%;
}


div.container4 input::placeholder{
	color: black;
	padding: 5%
}
div.container4 p{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 60%;
}

div.container5 {
	width: 100%;
	height: 40%;
	background-color: #001D5D;
	color: white;
  overflow:hidden
}

div.container5 p {
	margin-top: 2%;
	position: relative;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
  display: block;
  color: #B8BFCF;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  height: 50%;
  overflow:hidden

}

div.container5 img {
	margin-top: 20%;
	margin-bottom: 10%
}

#socialmedia {
	margin-right: 4%;
	float: right;
	display: block;
}

div.container5 a {
	text-decoration: none;
  color: #B8BFCF;
}
#map {
	position: relative;
height: 50%;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}